<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      img {
          height: 32px;
      }
    </style>
</head>
<body>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  {% for i in product %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.category.name}}</td>
      <td>{{i.name}}</td>

      <td>{% if i.image %}<img src="{{i.image.url}}">{% else %}-{% endif %}</td>
      <td>{{i.price}}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
</body>
</html>